*{
    margin:0;
    padding:0;
}

body{
    background-color: #738cd9;
    
  }



.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(.//abc2.jpg);
    background-repeat: no-repeat;
    background-size: 180% 80%;
}

.car{
    position: absolute;
    top:48%;
}

.car img{
    width: 170%;
    height: auto;
    animation: audi infinite ease-in 9s;
}

@keyframes audi{
    0%{
        margin-left: 0;
        opacity: 1;
    }
    50%{
        opacity:1;
    }
    100%{
        margin-left: 150%;
        opacity: 1;
    }
}

.btn1{ /* select spot button */
    background-color: #093ddb;
    color: white;
    font-weight: bold;
    border: 0 ;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    width: 15.9375rem;
    height: 3.4375rem;
    align-items: flex-end; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    margin-left: 80rem;
    margin-top: 43rem;
  }